div.player-cover * {
  position: relative;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: none;
}

.custom-audio-player button {
  /* -webkit-appearance: button; */
  border: none;
  background: #fff;
  outline: none;
  margin: auto 0;
  cursor: pointer;
}

.custom-audio-player .current-time {
  padding-right: 15px;
}
.custom-audio-player .audio-length {
  padding-left: 15px;
}

.custom-audio-player .visible-block {
  /* background: #f00; */
  -webkit-box-shadow: 0 0 7px #566574;
  /* box-shadow: 0 0 7px #566574; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* border-radius: 4px; */
  width: 100%;
  margin: 0 auto 0 auto;
  opacity: 1;
  padding: 10px;
  will-change: opacity;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: none;
  border: none;
}

.custom-audio-player .visible-block-outer {
  background: #fff;
  -webkit-box-shadow: 0 0 7px #566574;
  box-shadow: 0 0 7px #566574;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* border-radius: 4px; */
  width: 100%;
  margin: 0 auto 0 auto;
  opacity: 1;
  padding: 10px;
  will-change: opacity;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* box-shadow: none; */
  /* border: none; */
}

.opacity-1 .visible-block {
  opacity: 1;
}
.progress-bar {
  width: 70%;
}
.p-bar-timing {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0;
  background-color: #dc3545; */
  display: flex;
  /* background-color: #dc3545; */
  flex: 2;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.play-bttn,
.progress-bar {
  height: 24px;
  cursor: pointer;
}

.play-bttn {
  width: 24px;
}

.sound-bttn {
  width: auto;
}

.play-bttn::before,
.play-bttn::after {
  top: 0;
  left: 0;
  position: absolute !important;
  content: "";
  background: #566574;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%, 0 0);
  clip-path: polygon(0 0, 0 100%, 100% 50%, 0 0);
  width: 24px;
  height: 24px;
  margin: auto;
  will-change: clip-path, background-color;
  -webkit-transition: background-color 0.3s, -webkit-clip-path 0.3s;
  transition: background-color 0.3s, -webkit-clip-path 0.3s;
  -o-transition: clip-path 0.3s, background-color 0.3s;
  transition: clip-path 0.3s, background-color 0.3s;
  transition: clip-path 0.3s, background-color 0.3s, -webkit-clip-path 0.3s;
}

.play-bttn.playing::before {
  -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 30% 0);
  clip-path: polygon(0 0, 0 100%, 30% 100%, 30% 0);
  background-color: #566574;
}

.play-bttn.playing::after {
  -webkit-clip-path: polygon(70% 0, 70% 100%, 100% 100%, 100% 0);
  clip-path: polygon(70% 0, 70% 100%, 100% 100%, 100% 0);
  background-color: #566574;
}

.play-bttn:focus::before,
.play-bttn:focus::after {
  background-color: #44bfa3;
}

.tooltip div::before {
  position: absolute !important;
  content: "";
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
}

.tooltip {
  position: absolute !important;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 10px;
  z-index: 50;
  display: none;
}

.show-tooltip {
  display: block;
}

.tooltip div {
  background: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-filter: drop-shadow(0 0 3px #566574);
  filter: drop-shadow(0 0 3px #566574);
  border: 3px solid #fff;
}
.tooltip .tooltip-option {
  color: #dc3545;
  padding: 10px;
  border-radius: 4px;
}

.tooltip .tooltip-option:hover {
  background: #dc3545;
  color: #fff;
}

.tooltip .audio-timing {
  background: #fff;
  color: #566574;
  font-size: 12px;
  text-align: center;
}

.tooltip-option.good:hover {
  background: #44bfa3;
}

.tooltip-option.good {
  color: #44bfa3;
}

.watermarks {
  position: absolute !important;
  /* top: -5px; */
  /* height: 5px; */
  background: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.mark-tooltip {
  position: absolute !important;
  bottom: calc(100% + 20px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip-mark-item::after {
  content: "";
  position: absolute !important;
  content: "";
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
}

.tooltip-mark-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0 0 3px #566574);
  filter: drop-shadow(0 0 3px #566574);
}

.tooltip-mark-item span {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #566574;
}

.tooltip-mark-item span:first-child {
  padding-bottom: 0;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  width: 50px;
  margin: 0 auto;
}

.watermarks .mark {
  display: block;
  position: absolute !important;
  top: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.mark.good {
  background: rgba(68, 191, 163, 0.5);
}

.mark.bad {
  background: rgba(220, 53, 69, 0.5);
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.progress-bar .range-slider-audio,
.range-slider-audio-playback,
.range-slider-audio-sound {
  outline: 0;
  border: 0;
  border-radius: 500px;
  display: block;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.range-slider-audio-playback,
.range-slider-audio-sound {
  width: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .progress-bar .range-slider-audio,
  .range-slider-audio-playback,
  .range-slider-audio-sound {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  .progress-bar .range-slider-audio::-webkit-slider-runnable-track,
  .range-slider-audio-playback::-webkit-slider-runnable-track,
  .range-slider-audio-sound::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #444;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  }
  .progress-bar .range-slider-audio::-webkit-slider-thumb,
  .range-slider-audio-playback::-webkit-slider-thumb,
  .range-slider-audio-sound::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #fff;
    -webkit-box-shadow: -10000px 0 0 9990px #566574;
    box-shadow: -10000px 0 0 9990px #566574;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    position: relative;
  }
  .progress-bar .range-slider-audio:active::-webkit-slider-thumb,
  .range-slider-audio-playback:active::-webkit-slider-thumb,
  .range-slider-audio-sound:active::-webkit-slider-thumb {
    background: #fff;
    -webkit-box-shadow: -10000px 0 0 9990px #44bfa3;
    box-shadow: -10000px 0 0 9990px #44bfa3;
  }
}
.progress-bar .range-slider-audio::-moz-range-progress,
.range-slider-audio-playback::-moz-range-progress,
.range-slider-audio-sound::-moz-range-progress {
  background-color: #43e5f7;
}
.progress-bar .range-slider-audio::-moz-range-track,
.range-slider-audio-playback::-moz-range-track,
.range-slider-audio-sound::-moz-range-track {
  background-color: #9a905d;
}
.progress-bar .range-slider-audio::-ms-fill-lower,
.range-slider-audio-playback::-ms-fill-lower,
.range-slider-audio-sound::-ms-fill-lower {
  background-color: #43e5f7;
}
.progress-bar .range-slider-audio::-ms-fill-upper,
.range-slider-audio-playback::-ms-fill-upper,
.range-slider-audio-sound::-ms-fill-upper {
  background-color: #9a905d;
}

.range-slider-audio {
  margin: 0;
}
.flag-audio svg {
  height: 24px;
}

path.speaker,
.flag-audio svg path {
  fill: #566574;
}

.flag-audio:hover > svg path,
.flag-audio:focus > svg path {
  fill: #dc3545;
}

.sound-bttn:hover > svg path.speaker,
.sound-bttn:focus > svg path.speaker {
  fill: #44bfa3;
}

.right-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.playback-speed {
  font-size: 16px;
  width: 50px;
  text-align: left;
}

.playback-option,
.sound-option {
  position: absolute !important;
  /* top: 40px; */
  right: 75px;
  background: #fff;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  display: none;
  padding: 10px;
  -webkit-box-shadow: 0 0 7px #566574;
  box-shadow: 0 0 7px #566574;
  z-index: 20;
}

.list-displayed {
  display: block;
}
.audio-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}
.audio-info:first-child {
  margin-top: 0;
}
.audio-info .left-column,
.audio-info .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.audio-info .span-title {
  font-size: 12px;
  font-weight: 700;
}
@media (max-width: 900px) {
  .p-bar-timing {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px 0;
    padding: 0 10px;
  }
  .visible-block {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

.song-title {
  font-size: larger;
  color: #333;
}

.song-subtitle {
  font-size: small;
  color: #aaa;
}

.outof-text {
  font-size: small;
  color: #aaa;
}
